<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Survey</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>Create Survey</h1>
<form method="post" action="/survey">
    <div class="grid-container-2">
        <div class="grid-item-2">
            <label for="title">TITLE:</label>
            <input type="text" id="title" name="title" required><br><br>
        </div>
        <div class="grid-item-2">
            <label for="description">DESCRIPTION:</label>
            <input type="text" id="description" name="description" required><br><br>
        </div>
    </div>
    <div class="grid-item">
        <button type="submit" class="button-85" role="button">SAVE SURVEY</button>
    </div>
</form>
<!-- Home Button -->
<br>
<form method="get" action="/">
    <div class="grid-item">
        <button type="submit" class="button-85" role="button">RETURN HOME</button>
    </div>
</form>
</body>
</html>
