<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="context">
    <h1>Mini-Survey Monkey</h1>
    <div class="grid-container">
        <div class="grid-item"><a href="/createsurvey"><button class="button-85" role="button">CREATE A SURVEY</button></a></div>
        <div class="grid-item"><a href="/viewsurveys"><button class="button-85" role="button">VIEW ALL SURVEYS</button></a></div>
        <div class="grid-item"><a href="/selectsurvey"><button class="button-85" role="button">VIEW SPECIFIC SURVEY</button></a></div>
        <div class="grid-item"><a href="/viewresults"><button class="button-85" role="button">VIEW RESULTS</button></a></div>
        <div class="grid-item"><a href="http://localhost:8080/h2-console"><button class="button-85" role="button">VIEW H2 CONSOLE</button></a></div>
    </div>
</div>

<div class="area" >
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div >
</body>
</html>
