<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<p> Create a Survey <a href="/createsurvey">here</a></p>
<p> View All Surveys <a href="/viewsurveys">here</a></p>
<p> View Specific Survey <a href="/selectsurvey">here</a></p>
<p> View Questions (Not Implemented) <a href="/viewquestions">here</a></p>
<p> View Results (Not Implemented) <a href="/removesurvey">here</a></p>
<p> View H2 Console <a href="http://localhost:8080/h2-console">here</a> </p>
</body>
</html>
