<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Question</title>
</head>
<body>
<form>
    <div th:fragment="num">
        <div th:text="${question.getDescription() + ' (Range:' + question.getMinRange() + '-' + question.getMaxRange() + ')'}"></div>
        <input type="range" th:min="${question.getMinRange()}" th:max="${question.getMaxRange()}" oninput="this.nextElementSibling.value = this.value"/>
        <output></output>
    </div>
    <input type="submit" />
</form>
</body>
</html>