<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Survey</title>
</head>
<body>
<h1>Select Survey</h1>
<form method="get" th:action="@{/survey}">
    <label for="surveySelect">Select Survey:</label>
    <select id="surveySelect" name="selectedSurvey" required="required">
        <option value="" selected disabled hidden>-- Select a Survey --</option>
        <th:block th:each="survey : ${surveys}">
            <option th:value="${survey.id}" th:text="${survey.title}"></option>
        </th:block>
    </select>
    <br/><br/>
    <button type="submit" name="submit" value="Submit">View Survey</button>
</form>
<br>
<form method="get" th:action="@{/viewquestions}">
    <input type="submit" value="View Questions">
</form>
<!-- Home Button -->
<br>
<form method="get" action="/">
    <input type="submit" value="Return Home">
</form>
</body>
</html>
