<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Show Survey</title>
    <link th:href="@{/css/showsurveyStyle.css}" rel="stylesheet" />
</head>

<body>
<h1>Survey: <span th:text="${survey.title}"></span> </h1>
<!-- Form for the Activate Button (if Survey is currently inactive) -->
<form action="#" th:action="@{'/survey/' + ${survey.id} + '/activate'}" method="post">
    <button th:if="${!survey.active}" type="submit" name="Activate" class="activate">Activate</button>
</form>
<!-- Form for the Deactivate button (if Survey is currently active) -->
<form action="#" th:action="@{'/survey/' + ${survey.id} + '/deactivate'}" method="post">
    <button th:if="${survey.active}" type="submit" name="Deactivate" class="deactivate">Deactivate</button>
</form>
<div>
    <p>ID: <span th:text="${survey.id}"></span></p>
    <p>Title: <span th:text="${survey.title}"></span></p>
    <p>Description: <span th:text="${survey.description}"></span></p>
    <p>Status: <span th:text="${survey.active} ? 'Active' : 'Inactive'"></span></p>
    <p> View Another Survey <a href="/selectsurvey">here</a></p>
    <p> Return Home <a href="/">here</a></p>
</div>
</body>
</html>
