<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Survey</title>
    <style>
        div {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 1em;
        }

        p {
            padding: 0.5em;
            border: 1px solid black;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Survey</h1>
<div>
    <p>ID: <span th:text="${survey.id}"></span></p>
    <p>Title: <span th:text="${survey.title}"></span></p>
    <p>Description: <span th:text="${survey.description}"></span></p>
    <p>Questions:</p>
    <form>
        <div th:each="question: ${survey.getQuestions()}">
            <th:block th:switch="${question.getQuestionType()}">
                <div th:case="${T(com.example.QuestionType).MULTIPLE_CHOICE}">
                    <div th:replace="multiplechoicequestion.html :: mcq"></div>
                </div>
                <div th:case="${T(com.example.QuestionType).TEXT}">
                    <div th:replace="textquestion.html :: text"></div>
                </div>
                <div th:case="${T(com.example.QuestionType).NUMBER_CHOICE_LINE}">
                    <div th:replace="numberquestion.html :: num"></div>
                </div>
            </th:block>
        </div>
    </form>
    <p> View Another Survey <a href="/selectsurvey">here</a></p>
</div>
</body>
</html>
